 <!-- form handling -->
 <form action="/api/contacts/" method="POST" id="add_record">
    <div class="new_record">
        <div class="form-group">
            <label for="company" class="text">Company Name</label>
            <input type="text" name="company" value="" placeholder="John Doe">
        </div>
        <div class="form-group">
            <label for="person" class="text">Contact Name</label>
            <input type="text" name="person" value="" placeholder="ABC Company">
        </div>
        <div class="form-group">
            <label for="designation" class="text">Designation</label>
            <input type="text" name="designation" value="" placeholder="Executive">
        </div>
        <div class="form-group">
            <label for="email" class="text">Email</label>
            <input type="text" name="email" value="" placeholder="john@example.com">
        </div>
        <div class="form-group">
            <label for="phone" class="text">Phone Number</label>
            <input type="text" name="phone" value="" placeholder="123456789">
        </div>
        <div class="form-group">
            <label for="linkedin" class="text">LinkedIn Profile</label>
            <input type="text" name="linkedin" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="comments" class="text">Comments</label>
            <input type="text" name="comments" value="" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>