 <!-- form handling -->
 <form action="/api/records" method="POST" id="add_record">
    <div class="new_record">
        <div class="form-group">
            <label for="name" class="text">Company Name</label>
            <input type="text" name="name" value="" placeholder="ABC Company">
        </div>
        <div class="form-group">
            <label for="website" class="text">Website</label>
            <input type="text" name="website" value="" placeholder="www.example.com">
        </div>
        <div class="form-group">
            <label for="size" class="text">Size</label>
            <input type="text" name="size" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="revenue" class="text">Revenue</label>
            <input type="text" name="revenue" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="hq" class="text">HeadQuarters</label>
            <input type="text" name="hq" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="sales" class="text">Sales Contact</label>
            <input type="text" name="sales" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="priority" class="text">Priority</label>
            <input type="text" name="priority" value="" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>