 <!-- form handling -->
 <form action="/contacts-list" method="POST" id="add_record">
    <div class="new_record">
        <div class="form-group">
            <label for="person" class="text">Contact Name</label>
            <input type="text" name="name" value="" placeholder="John Doe">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>