
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/locations" class="btn btn-outline"><i class="fas fa-angle-double-left"></i> All Locations</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Locations</h2>
            <span class="text-dark">Use the below form to add a new location</span>
        </div>

        <!-- add user form -->
        <%- include('include/_locationform') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->