
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/reviews" class="btn btn-outline"><i class="fas fa-arrow-left"></i> All Records</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Record</h2>
            <span class="text-dark">Use the below form to create a new record</span>
        </div>

        <!-- add user form -->
        <%- include('include/_reviewform') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
