 <!-- form handling -->
 <form action="/api/reviews/" method="POST" id="add_record">
    <div class="new_record">
        <div class="form-group">
            <label for="name" class="text">Company Name</label>
            <input type="text" name="name" value="" placeholder="Random Corporation">
        </div>
        <div class="form-group">
            <label for="website" class="text">Website</label>
            <input type="text" name="website" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="first" class="text">First Priority</label>
            <input type="text" name="first" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="second" class="text">Second Priority</label>
            <input type="text" name="second" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="third" class="text">Third Priority</label>
            <input type="text" name="third" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="comments" class="text">Comments</label>
            <input type="text" name="comments" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="notes" class="text">Notes</label>
            <input type="text" name="notes" value="" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>