
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container-fluid">

            <!-- form handling -->
            <form method="POST">
                <table class="table table-bordered">
                    <div>
                        <thead class="thead-dark">
                            <tr>
                                <h1 class="font-weight-bold text-center">
                                    Welcome to the Database Management system
                                </h1>
                                <br>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="/app/register" class="btn btn-outline">
                                <h2 class="text-success"><ins>Sign Up</ins></h2>
                            </a>
                        </div>
                        <br>
                        <br>
                       <div class="text-center">
                        <a href="/app/login" class="btn btn-outline">
                            <h2 class="text-success"><ins>Log In</ins></h2>
                        </a>
                       </div>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->