<%- include("include/_header") %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
			<div class="filter">
				<a href="/app/register" class="btn btn-outline"><i class="fas fa-angle-double-left"></i> New user? Sign Up</a>
			</div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Existing User</h2>
            <span class="text-dark">Login with your credentials</span>
        </div>

<form id="add_user">
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
	<div class="form-group">
		<button type="submit" class="btn text-light update">Login</button>
	</div>
</form>
</div>

<script>
    const form = document.querySelector("form");
    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");

    form.addEventListener("submit", async(e) => {
        e.preventDefault();

        emailError.textContent = "";
        passwordError.textContent = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch("/app/login", {
                method: "POST",
                body: JSON.stringify({ email, password }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign("/app/home");
            }
        } 
        catch (err) {
            console.log(err);            
        }
    });

</script>

<!-- include footer -->
<%- include("include/_footer") %>
<!-- /include footer -->
