
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container-fluid">
            <div class="text-center">
                <a href="/" class="btn btn-outline">
                    <span class="text-center">Home Page<i class="fa-solid fa-house-user"></i></span>
                </a>
            </div>
            
            <div class="box-nav d-flex justify-between">
                <a href="/add-email" class="btn btn-outline">
                    <span class="text-gradient">New Subscription<i class="fas fa-user"></i></span>
                </a>
            </div>
            
            <!-- form handling -->
            <form action="/emails" method="POST">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Designation</th>
                            <th>Country</th>
                            <th>Source</th>
                            <th>Subscription Status</th>
                            <th>Added By</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_emails') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->