
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container-fluid">

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <h2>
                                Welcome. Select database:
                            </h2>
                            <a href="/records">
                                <h3>Sales Data: In Progress</h3>
                            </a>
                            <a href="/emails">
                                <h3>Email Subscriptions List</h3>
                            </a>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->