
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container-fluid">
            <div class="text-center">
                <a href="/" class="btn btn-outline">
                    <span class="text-center">Home Page</i></span>
                </a>
                <h2>Sales In Review</h2>
            </div>
            <div class="box-nav d-flex justify-between">
                <a href="/add-review" class="btn btn-outline">
                    <span class="text-gradient">New Record<i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/reviews" method="POST">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Company Name</th>
                            <th>Website</th>
                            <th>1st Priority</th>
                            <th>2nd Priority</th>
                            <th>3rd Priority</th>
                            <th>Comments</th>
                            <th>Notes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            <%- include('include/_reviews'); %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->